apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-deployment
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: my-deployment
          image: dag-andersen/myapp:latest
          ports:
            - containerPort: 80
