name: Build and Push Docker Images

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        platform: [amd64, arm64]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: linux/${{ matrix.platform }}
          tags: dagandersen/argocd-diff-preview:${{ env.RELEASE_VERSION }}-${{ matrix.platform }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  create-manifest:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: create manifest
        run: |
          docker buildx imagetools create -t \
            dagandersen/argocd-diff-preview:${RELEASE_VERSION} \
            dagandersen/argocd-diff-preview:${RELEASE_VERSION}-amd64 \
            dagandersen/argocd-diff-preview:${RELEASE_VERSION}-arm64
          docker buildx imagetools create -t \
            dagandersen/argocd-diff-preview:latest \
            dagandersen/argocd-diff-preview:${RELEASE_VERSION}-amd64 \
            dagandersen/argocd-diff-preview:${RELEASE_VERSION}-arm64
