name: Generate Diff

on:
  pull_request:
    branches:
      - "main"
    paths:
      - ".github/workflows/generate-diff.yml"
      - "examples/**"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: write-all

    steps:
      - name: Check out the repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/checkout@v4
        with:
          path: pull-request

      - uses: actions/checkout@v4
        with:
          ref: main
          path: main

      - name: Diff
        run: |
          docker run \
            --network=host \
            -v /var/run/docker.sock:/var/run/docker.sock \
            -v $(pwd)/main:/base-branch \
            -v $(pwd)/pull-request:/target-branch \
            -v $(pwd)/output:/output \
            -e TARGET_BRANCH=${{ github.head_ref }} \
            -e GIT_REPO="$(git config --get remote.origin.url)" \
            dagandersen/argocd-diff-preview:latest

      - name: Post diff as comment
        run: |
          gh pr comment ${{ github.event.number }} --edit-last --body-file output/diff.md \
            || gh pr comment ${{ github.event.number }} --body-file output/diff.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
