name: PR build

on:
  pull_request:
    branches:
      - "main"
    paths:
      - "cmd/**"
      - "pkg/**"
      - "go.mod"
      - "go.sum"
      - Dockerfile
      - .github/workflows/pr.yml

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24.0'  # Adjust this to match your Go version
      
      - name: Run unit tests
        run: make run-unit-tests

  build:
    runs-on: ubuntu-latest
    needs: test  # This ensures tests must pass before building
    strategy:
      fail-fast: true
      matrix:
        # platform: [amd64, arm64] // Takes to long to run both 
        platform: [amd64]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          platforms: linux/${{ matrix.platform }}
          tags: test-${{ matrix.platform }}
          build-args: |
            VERSION="pr-${{ github.event.pull_request.number }}"
            COMMIT=${{ github.sha }}
            BUILD_DATE="unknown"
          cache-from: type=gha
          cache-to: type=gha,mode=max
