name: Release Binary

on:
  push:
    tags:
      - "v*.*.*"
      - "!v*.*.*-pre-release"
      - "!v*.*.*-pre-release-*"
      - "!v*.*.*-experimental"

env:
  BINARY_NAME: argocd-diff-preview
  GITHUB_TOKEN: ${{ github.token }}

jobs:
  build:
    name: ${{ matrix.platform.os_name }} with Go
    runs-on: ${{ matrix.platform.os }}
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        platform:
          - os_name: Linux-x86_64
            os: ubuntu-24.04
            goos: linux
            goarch: amd64
            name: argocd-diff-preview-Linux-x86_64.tar.gz
          - os_name: Linux-aarch64
            os: ubuntu-24.04
            goos: linux
            goarch: arm64
            name: argocd-diff-preview-Linux-aarch64.tar.gz
          - os_name: macOS-x86_64
            os: macOS-latest
            goos: darwin
            goarch: amd64
            name: argocd-diff-preview-Darwin-x86_64.tar.gz
          - os_name: macOS-aarch64
            os: macOS-latest
            goos: darwin
            goarch: arm64
            name: argocd-diff-preview-Darwin-aarch64.tar.gz
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch all history for all branches and tags
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: './go.mod'
      - name: Set env
        run: |
          VERSION=${GITHUB_REF#refs/tags/}
          echo "VERSION=${VERSION}" >> $GITHUB_ENV
          SHA=$(git rev-parse --short HEAD)
          echo "SHA=${SHA}" >> $GITHUB_ENV
          BUILD_DATE=$(date -u +"%Y-%m-%dT%H:%M:%SZ")
          echo "BUILD_DATE=${BUILD_DATE}" >> $GITHUB_ENV
      - name: Build binary
        env:
          GOOS: ${{ matrix.platform.goos }}
          GOARCH: ${{ matrix.platform.goarch }}
        run: |
          go build -v -ldflags="-s -w -X 'main.Version=${VERSION}' -X 'main.Commit=${SHA}' -X 'main.BuildDate=${BUILD_DATE}'" -o ${{ env.BINARY_NAME }} ./cmd
      - name: Package as archive
        shell: bash
        run: |
          tar czvf ${{ matrix.platform.name }} ${{ env.BINARY_NAME }}
      - name: Publish release artifacts
        uses: actions/upload-artifact@v4
        with:
          name: argocd-diff-preview-${{ matrix.platform.os_name }}
          path: "argocd-diff-preview-*"
      - name: Publish GitHub release
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          prerelease: false
          files: "argocd-diff-preview-*"
